<div *ngIf="isLoading" class="spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
<section class="flex flex-col items-center p-6 bg-dark-gray min-h-screen">
  <div class="w-full max-w-md mx-auto bg-dark-slight rounded-lg shadow-md p-6">
    <div class="mb-4 text-center">
      <h1 class="text-2xl font-bold text-white">Register</h1>
      <p id="registerFeedback" class="text-red-500"></p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="space-y-4">
      <!-- Name -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput id="name" formControlName="name" type="text" />
        <mat-error
          *ngIf="
            registerForm.get('name')?.invalid &&
            registerForm.get('name')?.touched
          "
        >
          <small *ngIf="registerForm.get('name')?.errors?.required"
            >Name is required.</small
          >
          <small *ngIf="registerForm.get('name')?.errors?.minlength"
            >Name must be at least 5 characters long.</small
          >
          <small *ngIf="registerForm.get('name')?.errors?.maxlength"
            >Name cannot be more than 25 characters long.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Surname 1 -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Surname 1</mat-label>
        <input
          matInput
          id="surname_1"
          formControlName="surname_1"
          type="text"
        />
        <mat-error
          *ngIf="
            registerForm.get('surname_1')?.invalid &&
            registerForm.get('surname_1')?.touched
          "
        >
          <small *ngIf="registerForm.get('surname_1')?.errors?.required"
            >Surname 1 is required.</small
          >
          <small *ngIf="registerForm.get('surname_1')?.errors?.minlength"
            >Surname 1 must be at least 5 characters long.</small
          >
          <small *ngIf="registerForm.get('surname_1')?.errors?.maxlength"
            >Surname 1 cannot be more than 25 characters long.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Surname 2 -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Surname 2</mat-label>
        <input
          matInput
          id="surname_2"
          formControlName="surname_2"
          type="text"
        />
        <mat-error
          *ngIf="
            registerForm.get('surname_2')?.invalid &&
            registerForm.get('surname_2')?.touched
          "
        >
          <small *ngIf="registerForm.get('surname_2')?.errors?.minlength"
            >Surname 2 must be at least 5 characters long.</small
          >
          <small *ngIf="registerForm.get('surname_2')?.errors?.maxlength"
            >Surname 2 cannot be more than 25 characters long.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Alias -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Alias</mat-label>
        <input matInput id="alias" formControlName="alias" type="text" />
        <mat-error
          *ngIf="
            registerForm.get('alias')?.invalid &&
            registerForm.get('alias')?.touched
          "
        >
          <small *ngIf="registerForm.get('alias')?.errors?.required"
            >Alias is required.</small
          >
          <small *ngIf="registerForm.get('alias')?.errors?.minlength"
            >Alias must be at least 5 characters long.</small
          >
          <small *ngIf="registerForm.get('alias')?.errors?.maxlength"
            >Alias cannot be more than 25 characters long.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Birth Date -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Birth Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="birth_date"
          placeholder="yyyy-MM-dd"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="birth_date.invalid">
          <span *ngIf="birth_date.hasError('required')">
            Birth Date is required.
          </span>
          <span *ngIf="birth_date.hasError('pattern')">
            Birth Date must be in the format yyyy-MM-dd.
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email" type="email" />
        <mat-error
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
        >
          <small *ngIf="registerForm.get('email')?.errors?.required"
            >Email is required.</small
          >
          <small *ngIf="registerForm.get('email')?.errors?.email"
            >Email must be a valid email address.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Password</mat-label>
        <input
          matInput
          id="password"
          formControlName="password"
          type="password"
        />
        <mat-error
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
        >
          <small *ngIf="registerForm.get('password')?.errors?.required"
            >Password is required.</small
          >
          <small *ngIf="registerForm.get('password')?.errors?.minlength"
            >Password must be at least 8 characters long.</small
          >
          <small *ngIf="registerForm.get('password')?.errors?.maxlength"
            >Password cannot be more than 16 characters long.</small
          >
        </mat-error>
      </mat-form-field>
      <!-- Submit Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid"
        class="w-full"
      >
        Register
      </button>
    </form>
  </div>
</section>
