<section class="flex flex-col items-center p-6 min-h-screen bg-gray-50">
  <div class="w-full max-w-lg mx-auto  rounded-lg shadow-lg p-8">
    <div class="mb-6 text-center">
      <h1 class="text-3xl font-semibold text-gray-800">Register</h1>
      <p id="registerFeedback" class="text-red-500 mt-2"></p>
    </div>

    <form class="overflow-visible" [formGroup]="registerForm" (ngSubmit)="register()" class="space-y-6">
      <!-- Name -->
      <mat-form-field class="overflow-visible" appearance="fill" class="w-full">
        <mat-label>Name</mat-label>
        <input
          matInput
          id="name"
          formControlName="name"
          placeholder="Enter your name"
        />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="registerForm.get('name')?.hasError('required')"
          >Name is required.</mat-error
        >
        <mat-error *ngIf="registerForm.get('name')?.hasError('minlength')"
          >Name must be at least 5 characters long.</mat-error
        >
        <mat-error *ngIf="registerForm.get('name')?.hasError('maxlength')"
          >Name cannot be more than 25 characters long.</mat-error
        >
      </mat-form-field>

      <!-- Surname 1 -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Surname 1</mat-label>
        <input
          matInput
          id="surname_1"
          formControlName="surname_1"
          placeholder="Enter your first surname"
        />
        <mat-icon matSuffix>badge</mat-icon>
        <mat-error *ngIf="registerForm.get('surname_1')?.hasError('required')"
          >Surname 1 is required.</mat-error
        >
        <mat-error *ngIf="registerForm.get('surname_1')?.hasError('minlength')"
          >Surname 1 must be at least 5 characters long.</mat-error
        >
        <mat-error *ngIf="registerForm.get('surname_1')?.hasError('maxlength')"
          >Surname 1 cannot be more than 25 characters long.</mat-error
        >
      </mat-form-field>

      <!-- Surname 2 -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Surname 2</mat-label>
        <input
          matInput
          id="surname_2"
          formControlName="surname_2"
          placeholder="Enter your second surname"
        />
        <mat-icon matSuffix>badge</mat-icon>
        <mat-error *ngIf="registerForm.get('surname_2')?.hasError('minlength')"
          >Surname 2 must be at least 5 characters long.</mat-error
        >
        <mat-error *ngIf="registerForm.get('surname_2')?.hasError('maxlength')"
          >Surname 2 cannot be more than 25 characters long.</mat-error
        >
      </mat-form-field>

      <!-- Alias -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Alias</mat-label>
        <input
          matInput
          id="alias"
          formControlName="alias"
          placeholder="Enter your alias"
        />
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-error *ngIf="registerForm.get('alias')?.hasError('required')"
          >Alias is required.</mat-error
        >
        <mat-error *ngIf="registerForm.get('alias')?.hasError('minlength')"
          >Alias must be at least 5 characters long.</mat-error
        >
        <mat-error *ngIf="registerForm.get('alias')?.hasError('maxlength')"
          >Alias cannot be more than 25 characters long.</mat-error
        >
      </mat-form-field>

      <!-- Birth Date -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Birth Date</mat-label>
        <input
          matInput
          id="birth_date"
          formControlName="birth_date"
          type="date"
        />
        <mat-icon matSuffix>calendar_today</mat-icon>
        <mat-error *ngIf="registerForm.get('birth_date')?.hasError('required')"
          >Birth Date is required.</mat-error
        >
        <mat-error *ngIf="registerForm.get('birth_date')?.hasError('pattern')"
          >Birth Date must be in the format yyyy-mm-dd.</mat-error
        >
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input
          matInput
          id="email"
          formControlName="email"
          type="email"
          placeholder="Enter your email"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="registerForm.get('email')?.hasError('required')"
          >Email is required.</mat-error
        >
        <mat-error *ngIf="registerForm.get('email')?.hasError('email')"
          >Email must be a valid email address.</mat-error
        >
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Password</mat-label>
        <input
          matInput
          id="password"
          formControlName="password"
          type="password"
          placeholder="Enter your password"
        />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')"
          >Password is required.</mat-error
        >
        <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')"
          >Password must be at least 8 characters long.</mat-error
        >
        <mat-error *ngIf="registerForm.get('password')?.hasError('maxlength')"
          >Password cannot be more than 16 characters long.</mat-error
        >
      </mat-form-field>

      <!-- Submit Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid"
        class="w-full py-2"
      >
        <mat-icon>how_to_reg</mat-icon> Register
      </button>
    </form>
  </div>
</section>
