.container {
  background-color: #15202b; /* Fondo general */
  color: white;
  border-radius: 8px;
  padding: 1.5rem;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-dark-slight {
  background-color: #192734;
}
