<mat-toolbar color="secondary" class="shadow-md">
  <!-- Logo -->
  <a mat-button routerLink="/" class="flex items-center">
    <img src="assets/icons/logo.svg" alt="Twitter" class="w-10 h-10" />
  </a>

  <!-- Sección de navegación -->
  <span class="flex-1"></span>
  <ng-container *ngIf="showNoAuthSection">
    <button mat-button (click)="navigateTo('home')">Home</button>
    <button mat-raised-button color="accent" (click)="navigateTo('login')">
      Login
    </button>
    <button mat-raised-button color="accent" (click)="navigateTo('register')">
      Register
    </button>
  </ng-container>

  <ng-container *ngIf="showAuthSection">
    <button mat-button (click)="navigateTo('home')">Home</button>
    <button mat-button (click)="navigateTo('posts')">Admin Posts</button>
    <button mat-button (click)="navigateTo('categories')">
      Admin Categories
    </button>
    <button mat-button (click)="navigateTo('dashboard')">
      Dashboard
    </button>
    <button mat-raised-button color="accent" (click)="navigateTo('profile')">
      Profile
    </button>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </ng-container>
</mat-toolbar>
