<section class="container p-4">
  <h2 class="text-2xl font-bold mb-4 text-white">Categories List</h2>
  <button
    mat-raised-button
    color="primary"
    (click)="createCategory()"
    class="mb-4"
  >
    ADD
  </button>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let category">
        {{ category.categoryId }}
      </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{ category.title }} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let category">
        {{ category.description }}
      </mat-cell>
    </ng-container>

    <!-- CSS Color Column -->
    <ng-container matColumnDef="css_color">
      <mat-header-cell *matHeaderCellDef> CSS COLOR </mat-header-cell>
      <mat-cell *matCellDef="let category">
        <span
          class="inline-block w-4 h-4 rounded-full"
          [ngStyle]="{ 'background-color': category.css_color }"
        ></span>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let category">
        <button
          mat-icon-button
          color="accent"
          (click)="updateCategory(category.categoryId)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteCategory(category.categoryId)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Rows -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</section>
