<section class="container p-4">
  <h2 class="text-2xl font-bold mb-4  ">Categories List</h2>
  <button
    (click)="createCategory()"
    class="mb-4 bg-blue-500   px-4 py-2 rounded-md hover:bg-blue-700"
  >
    ADD
  </button>

  <div class="overflow-x-auto">
    <table class="min-w-full  border border-black-600">
      <thead>
        <tr class=" text-black-400 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left">ID</th>
          <th class="py-3 px-6 text-left">TITLE</th>
          <th class="py-3 px-6 text-left">DESCRIPTION</th>
          <th class="py-3 px-6 text-left">CSS COLOR</th>
          <th class="py-3 px-6 text-left">ACTIONS</th>
        </tr>
      </thead>
      <tbody class="text-gray-300 text-sm font-light">
        <tr
          *ngFor="let category of categories"
          class="border-b border-black-600 hover:bg-black-700"
        >
          <td class="py-3 px-6 text-left whitespace-nowrap">
            {{ category.categoryId }}
          </td>
          <td class="py-3 px-6 text-left">{{ category.title }}</td>
          <td class="py-3 px-6 text-left">{{ category.description }}</td>
          <td class="py-3 px-6 text-left">
            <span
              class="inline-block w-4 h-4 rounded-full"
              [ngStyle]="{ 'background-color': category.css_color }"
            ></span>
          </td>
          <td class="py-3 px-6 text-left">
            <button
              (click)="updateCategory(category.categoryId)"
              class="bg-yellow-500   px-2 py-1 rounded-md hover:bg-yellow-700 mr-2"
            >
              UPDATE
            </button>
            <button
              (click)="deleteCategory(category.categoryId)"
              class="bg-red-500   px-2 py-1 rounded-md hover:bg-red-700"
            >
              DELETE
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
