<section class="container">
  <div class="py-6 flex justify-center text-center">
    <app-feedback-message [message]="loginError" *ngIf="loginError"></app-feedback-message>
  </div>
  <div class="w-full max-w-md mx-auto bg-dark-slight rounded-lg shadow-md p-6">
    <h1 class="text-2xl font-bold text-center text-white mb-4">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4">
      <app-input-field
        id="email"
        label="Email"
        type="email"
        [control]="emailControl"
      ></app-input-field>

      <app-input-field
        id="password"
        label="Password"
        type="password"
        [control]="passwordControl"
      ></app-input-field>

      <app-button
        label="Login"
        [disabled]="loginForm.invalid"
      ></app-button>
    </form>
  </div>
</section>
