<section class="flex flex-col items-center p-6 min-h-screen">
  <div class="w-full max-w-md mx-auto rounded-lg shadow-md p-6">
    <div class="mb-4 text-center">
      <h1 class="text-2xl font-bold">Profile</h1>
      <p id="profileFeedback" class="text-red-500"></p>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="updateUser()" class="space-y-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput id="name" formControlName="name" type="text" />
        <mat-error
          *ngIf="
            profileForm.get('name')?.invalid && profileForm.get('name')?.touched
          "
        >
          <small *ngIf="profileForm.get('name')?.errors?.required"
            >Name is required.</small
          >
          <small *ngIf="profileForm.get('name')?.errors?.minlength"
            >Name must be at least 5 characters long.</small
          >
          <small *ngIf="profileForm.get('name')?.errors?.maxlength"
            >Name cannot be more than 25 characters long.</small
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>First Surname</mat-label>
        <input
          matInput
          id="surname_1"
          formControlName="surname_1"
          type="text"
        />
        <mat-error
          *ngIf="
            profileForm.get('surname_1')?.invalid &&
            profileForm.get('surname_1')?.touched
          "
        >
          <small *ngIf="profileForm.get('surname_1')?.errors?.required"
            >First Surname is required.</small
          >
          <small *ngIf="profileForm.get('surname_1')?.errors?.minlength"
            >First Surname must be at least 5 characters long.</small
          >
          <small *ngIf="profileForm.get('surname_1')?.errors?.maxlength"
            >First Surname cannot be more than 25 characters long.</small
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Second Surname</mat-label>
        <input
          matInput
          id="surname_2"
          formControlName="surname_2"
          type="text"
        />
        <mat-error
          *ngIf="
            profileForm.get('surname_2')?.invalid &&
            profileForm.get('surname_2')?.touched
          "
        >
          <small *ngIf="profileForm.get('surname_2')?.errors?.minlength"
            >Second Surname must be at least 5 characters long.</small
          >
          <small *ngIf="profileForm.get('surname_2')?.errors?.maxlength"
            >Second Surname cannot be more than 25 characters long.</small
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Alias</mat-label>
        <input matInput id="alias" formControlName="alias" type="text" />
        <mat-error
          *ngIf="
            profileForm.get('alias')?.invalid &&
            profileForm.get('alias')?.touched
          "
        >
          <small *ngIf="profileForm.get('alias')?.errors?.required"
            >Alias is required.</small
          >
          <small *ngIf="profileForm.get('alias')?.errors?.minlength"
            >Alias must be at least 5 characters long.</small
          >
          <small *ngIf="profileForm.get('alias')?.errors?.maxlength"
            >Alias cannot be more than 25 characters long.</small
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Birth Date</mat-label>
        <input
          matInput
          id="birth_date"
          formControlName="birth_date"
          type="date"
        />
        <mat-error
          *ngIf="
            profileForm.get('birth_date')?.invalid &&
            profileForm.get('birth_date')?.touched
          "
        >
          <small *ngIf="profileForm.get('birth_date')?.errors?.required"
            >Birth Date is required.</small
          >
          <small *ngIf="profileForm.get('birth_date')?.errors?.pattern"
            >Birth Date must be in the format yyyy-mm-dd.</small
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email" type="email" />
        <mat-error
          *ngIf="
            profileForm.get('email')?.invalid &&
            profileForm.get('email')?.touched
          "
        >
          <small *ngIf="profileForm.get('email')?.errors?.required"
            >Email is required.</small
          >
          <small *ngIf="profileForm.get('email')?.errors?.email"
            >Email must be a valid email address.</small
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Password</mat-label>
        <input
          matInput
          id="password"
          formControlName="password"
          type="password"
        />
        <mat-error
          *ngIf="
            profileForm.get('password')?.invalid &&
            profileForm.get('password')?.touched
          "
        >
          <small *ngIf="profileForm.get('password')?.errors?.required"
            >Password is required.</small
          >
          <small *ngIf="profileForm.get('password')?.errors?.minlength"
            >Password must be at least 8 characters long.</small
          >
          <small *ngIf="profileForm.get('password')?.errors?.maxlength"
            >Password cannot be more than 16 characters long.</small
          >
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="profileForm.invalid"
        class="w-full"
      >
        Update Profile
      </button>
    </form>
  </div>
</section>
