<section class="flex flex-col items-center p-6 bg-gray-900 min-h-screen">
  <div class="w-full max-w-md mx-auto bg-gray-800 rounded-lg shadow-lg p-6">
    <!-- Header -->
    <div class="mb-6 text-center border-b border-gray-700 pb-4">
      <h1 class="text-2xl font-bold text-white">Edit Profile</h1>
      <p id="profileFeedback" class="text-red-500"></p>
    </div>

    <!-- Form -->
    <form [formGroup]="profileForm" (ngSubmit)="updateUser()" class="space-y-6">
      <!-- Name -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput id="name" formControlName="name" />
        <mat-error
          *ngIf="
            profileForm.get('name')?.invalid && profileForm.get('name')?.touched
          "
        >
          <small *ngIf="profileForm.get('name')?.errors?.required"
            >Name is required.</small
          >
          <small *ngIf="profileForm.get('name')?.errors?.minlength"
            >Minimum 5 characters.</small
          >
          <small *ngIf="profileForm.get('name')?.errors?.maxlength"
            >Maximum 25 characters.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- First Surname -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>First Surname</mat-label>
        <input matInput id="surname_1" formControlName="surname_1" />
        <mat-error
          *ngIf="
            profileForm.get('surname_1')?.invalid &&
            profileForm.get('surname_1')?.touched
          "
        >
          <small *ngIf="profileForm.get('surname_1')?.errors?.required"
            >This field is required.</small
          >
          <small *ngIf="profileForm.get('surname_1')?.errors?.minlength"
            >Minimum 5 characters.</small
          >
          <small *ngIf="profileForm.get('surname_1')?.errors?.maxlength"
            >Maximum 25 characters.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Second Surname -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Second Surname</mat-label>
        <input matInput id="surname_2" formControlName="surname_2" />
        <mat-error
          *ngIf="
            profileForm.get('surname_2')?.invalid &&
            profileForm.get('surname_2')?.touched
          "
        >
          <small *ngIf="profileForm.get('surname_2')?.errors?.minlength"
            >Minimum 5 characters.</small
          >
          <small *ngIf="profileForm.get('surname_2')?.errors?.maxlength"
            >Maximum 25 characters.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Alias -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Alias</mat-label>
        <input matInput id="alias" formControlName="alias" />
        <mat-error
          *ngIf="
            profileForm.get('alias')?.invalid &&
            profileForm.get('alias')?.touched
          "
        >
          <small *ngIf="profileForm.get('alias')?.errors?.required"
            >Alias is required.</small
          >
          <small *ngIf="profileForm.get('alias')?.errors?.minlength"
            >Minimum 5 characters.</small
          >
          <small *ngIf="profileForm.get('alias')?.errors?.maxlength"
            >Maximum 25 characters.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Birth Date -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Birth Date</mat-label>
        <input
          matInput
          type="date"
          id="birth_date"
          formControlName="birth_date"
        />
        <mat-error
          *ngIf="
            profileForm.get('birth_date')?.invalid &&
            profileForm.get('birth_date')?.touched
          "
        >
          <small *ngIf="profileForm.get('birth_date')?.errors?.required"
            >Birth Date is required.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email" type="email" />
        <mat-error
          *ngIf="
            profileForm.get('email')?.invalid &&
            profileForm.get('email')?.touched
          "
        >
          <small *ngIf="profileForm.get('email')?.errors?.required"
            >Email is required.</small
          >
          <small *ngIf="profileForm.get('email')?.errors?.email"
            >Must be a valid email.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Password</mat-label>
        <input
          matInput
          id="password"
          formControlName="password"
          type="password"
        />
        <mat-error
          *ngIf="
            profileForm.get('password')?.invalid &&
            profileForm.get('password')?.touched
          "
        >
          <small *ngIf="profileForm.get('password')?.errors?.required"
            >Password is required.</small
          >
          <small *ngIf="profileForm.get('password')?.errors?.minlength"
            >Minimum 8 characters.</small
          >
          <small *ngIf="profileForm.get('password')?.errors?.maxlength"
            >Maximum 16 characters.</small
          >
        </mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="profileForm.invalid"
        class="w-full"
      >
        Save Changes
      </button>
    </form>
  </div>
</section>
